<!DOCTYPE html>
<html>
<head>
  <title>Home - PM Platform</title>
</head>
<body>
  <h1>Welcome to All-in-One PM Platform</h1>
  <p><a href="/signup">Sign Up</a> | <a href="/login">Login</a></p>
</body>
</html>
