<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="container" style="max-width:720px;">
    <div class="card">
      <h1>Create Account</h1>
      <form action="/signup" method="post">
        <div class="row">
          <input class="input" type="text" name="name" placeholder="Name" style="flex:1">
          <input class="input" type="email" name="email" placeholder="Email" required style="flex:1">
        </div>
        <div class="row" style="margin-top:12px;">
          <input class="input" type="password" name="password" placeholder="Password" required style="flex:1">
          <select class="input" name="roleId" required style="flex:1">
            <option value="">-- Select Role --</option>
            <% roles.forEach(function(role) { %>
              <option value="<%= role.id %>"><%= role.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="row" style="margin-top:16px;">
          <button class="btn" type="submit">Sign Up</button>
          <a class="btn btn-outline" href="/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
